body{
	overflow:hidden;
}
#game{
	position:absolute;
	margin: 0 auto;
	width:10px;
	height:10px;

}

#main{
	width:70%;
	height:100%;
	float:left;
	background-color: #EEA;
}
#player{
	width:30%;
	height:100%;
	float:left;
	background-color: #CDD;
}
#story{
	background-color: #AEA;
	height:60%;
	padding:8px;
	overflow:auto;
}
#story .line{
	margin:8px 0;
}
#action{
	background-color: #EAA;
	height:40%;
}